<!DOCTYPE html>
<html>

<head>
    <title>Fjellferd</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="topnav" id="myTopnav">
            <div>
                <a href="/" id="FjellFerd-text">Fjellferd</a>
            </div>
            <div id="navigation">
                <% if (bruker){ %>
                    <a href="#">logget inn som <%= bruker.username %></a>
                    <a href="/logg-ut">Logg ut</a>
                <% } else { %>
                    <a href="/logg-inn">Logg inn</a>
                    <a href="/registrer">Registrer deg</a>
                <% } %>
                <a id="icon">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
    </nav>



